#resultados {
    display: flex;
    justify-content: space-between;
    
}

#ordenar-por {
    font-weight: bold;
}

#ordenar {
    text-decoration: none;
}

.section {
    background-color: #F5F5F5;
    font-family: 'Inter', sans-serif;
}

#container {
    display: flex;
    width: 80%;
    height: 120rem;
}

.h2 {
    font-weight: bold;
    font-size: 0.9rem;
    padding-left: 1rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

#quant-produtos {
    text-decoration: none;
}

#filters {
    width: 25%;
    font-size: 0.8rem;
    background-color: #FFFFFF;
    height: 38rem;
    padding: 1.5rem;
    margin-top: 0.6rem;
    border-radius: 0.2rem;
}

label {
    margin-left: 0.3rem;
}

:checked {
    accent-color: #C92071;
}

.titulo-item {
    font-weight: bold;
    margin-top: 1.2rem;
}
ul {
    padding-left: 0px;
}

li {
    list-style: none;
}

#itens {
    display: flex;
    flex-wrap: wrap;
}

h4 {
    font-size: 0.5rem;
}

h3 {
    font-size: 0.8rem;
    font-weight: normal;
}

span {
    font-size: 0.8rem;
    font-weight: normal;
    text-decoration: line-through;
    color: #8F8F8F;
}

.produto {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.img-item {
    width: 14rem;
    align-items: center;
    justify-content: center;
  
}

.imagem-produto {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 0.1rem;
}

.texto-produto {
    padding: 10px;
}

.discount1 {
    font-size: 0.7rem;
    background-color: #E7FF86;
    width: 40%;
    padding: 0.2rem;
    text-align: center;
    border-radius: 3rem;
    font-weight: bold;
}

.discount {
    color: #FFFFFF;
    background-color: #FFFFFF;
}

.valor {
    font-weight: bold;
    text-decoration: none;
    margin-left: 0.5rem;
    color: #080808;
}

