@import url('../../index.css');

.header-f {
  width: 100%;
  height: 12rem;
  background-color: var(--backGr-1);
  display: flex;
  flex-direction: column;

}


.header-main {
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap row;
  align-items: center;
  justify-content: center;
  gap: 38px;
  /* margin: 0 2rem; */

}

.search {
  width: 40rem;
  height: 40%;
  position: relative;
  display: flex;
  align-items: center;
}

.search input {
  width: 100%;
  height: 100%;
  background-color: var(--backGr-2);
  border: none;
  border-radius: 8px;
  padding: 20px;
  outline: none;
  position: absolute;
  z-index: 1;
  font-size: 15px;
}

.search img {
  width: 3%;
  margin-right: 10px;
  min-width: 1.5rem;
  position: absolute;
  z-index: 2;
  right: 0;
  cursor: pointer;
}

.register {
  width: 30%;
  height: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.register a {
  color: black;
  letter-spacing: 1px;
}

.button-container {
  width: 45%;
  height: 100%;
}

.button-login {
  width: 8rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--theme-color);
  color: white;
  border: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.cadastrar:hover {
  text-decoration: underline;
}

.button-login:hover {
  background-color: var(--hover-theme-color);
}


.cart {
  width: 1.8rem;
  cursor: pointer;
}

/* .cart img {
  width: 100%;
  cursor: pointer;
} */


.nav {
  height: 30%;
  display: flex;
  flex-wrap: wrap row;
  gap: 30px;
  padding: 0.5rem 2.5rem;
  margin-left: 9rem;

}

.nav li {
  list-style-type: none;
}

.nav .link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  letter-spacing: 1px;
  height: 100%;

}

.nav .link:hover {
  color: var(--theme-color);
  border-radius: 2px;
  border-bottom: 2px solid var(--theme-color);
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .register {
    flex-direction: column-reverse;
    height: 4.5rem;
    gap: 10px;

  }

}