@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial;
  box-sizing: border-box;
}
:root {
  --text-color: #474747;
  --backGr-1: #FFFFFF;
  --backGr-2: #F5F5F5;
  --theme-color: #C92071;
  --hover-theme-color: #e43c8d;
}